@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border: 1px solid red;
}

:root {
  scroll-behavior: smooth;
  --castomer-care-color: rgb(242, 242, 242);
  --castomer-care--background-color: rgb(205, 190, 181);
  --header-background-color:rgb(42, 42, 42);
  --link-color: #2a2a2a;
  --product-border-img: #464c5c;
  --stock-color: #61a854;
  --bottom-color: #2877b6;
  --underline-product: #edf0f5;
  --description-line: #2877b6;
  --accent-color: #eb5112;
  --product-grid-border: #f2f2f2;
  --color-columns-paragraph: rgb(59, 59, 59);
  --color-columns-subparagraph: #6c6c6c;
  --color-columns-info: #2a2a2a;
  --back-mindblowing-icon: #f2f2f2;
  --color-jbl-section: #fff;
  --bottom-color-models: #2a2a2a;
  --main-text-color: #2f2f2f;
  font-family: "PT Sans", sans-serif;
  --footer-background-color: #2a2a2a;
  --footer-text-color: #ffffff;
  --icon-color:#2877b6;
  --offer-color: rgb(73, 73, 73);
  --old-price-color: rgb(108, 108, 108);
  --text-title-color: #2f2f2f;
  --text-dark-color: #2a2a2a;
}
