@import "global.css";
@import "index.special-offers.partial.css";
@import "index.header.css";
<<<<<<< HEAD
@import "index.footer.partial.css";
=======
@import "index.product-tabs.partial.css";
@import "index.headphones-carousel.css";
@import "index.low-price.css";
>>>>>>> abf74c393c43a75d3eeaa572c5fd63dfa8a924ae
