@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

footer{
    font-style: "PT Sans", sans-serif;
    color: white;
    background-color: rgb(42, 42, 42);
    padding: 50px;
}

footer li{
    list-style: none;
    margin-bottom: 5px;
}


.footer-container{
    font-family: "Heebo", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 310px;
    margin-right: 310px;
}



.footer-content{
    font-family: "PT Sans", sans-serif;
}

.footer-content h3 {
    font-size: 32px;
    font-weight: 900;
}

.footer-content a{
    color: white;
    text-decoration: none;
}

.footer-container__title{
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
}


.footer-container__item-1{
    margin-bottom: 15px;
}

.footer-container__item-2{
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

address{
    font-style: normal;
}