.headphones {
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 24px;
    padding-right: 24px;
}

.headphones__title {
    text-align: center;

    h2 {
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        padding-bottom: 20px;
        font-family: 'Heebo', sans-serif;

        @media (min-width: 768px) {
            font-size: 50px;
        }

        @media (min-width: 992px) {
            font-size: 60px;
        }
    }

    p {
        font-size: 19px;
        padding-top: 5px;
        font-family: 'PT Sans', sans-serif;
    }
}

.headphones-carousel {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 15px;
}

.headphones-carousel__slides {
    display: flex;
    gap: 25px;
}

.headphones-carousel__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var( --back-mindblowing-icon);
    padding: 50px 29px;

    a {
        text-decoration: none;
        font-family: "PT Sans", sans-serif;
        color: rgb(42, 42, 42);
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 320px) {
    .headphones-carousel__slide:not(:first-child) {
       display: none;
    }
}

.headphones-carousel__slide-img {
    width: 85%;
    display: block;
    margin: auto;
}

.headphones-carousel__slide-title {
    text-align: center;
    font-size: 17px;
    font-family: "PT Sans", sans-serif;
    margin-top: 24px;
    line-height: 26px;
}

.headphones-carousel__slide-price {
    font-size: 19px;
    font-weight: 700;
    line-height: 26px;
    color: #2877b6;
    font-family: "PT Sans", sans-serif;
}

.headphones-carousel__slide-button {
    margin-top: 20px;
}

.headphones-carousel__button-title {
    background-color: var( --accent-color);
    color: white;
    padding: 20px 30px;
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .3s;
    white-space: nowrap;
}

.headphones-carousel__button-title:hover{
    background-color: var(--link-color);
}

.headphones-carousel__arrow-left {
    rotate: 180deg;
}