.headphones {
    max-width: 1200px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.headphones__title {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    h2 {
        font-size: 40px;
        font-weight: 900;
        font-family: 'Heebo', sans-serif;
        color: var(--main-text-color);

        @media (min-width: 768px) {
            font-size: 50px;
        }

        @media (min-width: 992px) {
            font-size: 60px;
        }
    }

    p {
        font-size: 17px;
        text-align: center;
        padding-top: 5px;
        font-family: 'PT Sans', sans-serif;
        color: var(--color-columns-paragraph);

        @media (min-width: 992px) {
            font-size: 19px;
        }
    }
}

@media (min-width: 425px) {
    .headphones__title {
        width: 75%;
    }
}

@media (min-width: 712px) {
    .headphones__title {
        width: 60%;
    }
}

.headphones-carousel {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.headphones-carousel__slides {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.headphones-carousel__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--back-mindblowing-icon);
    padding: 45px 15px;
    /* width: 250px; */
    min-height: 350px;

    a {
        text-decoration: none;
        font-family: "PT Sans", sans-serif;
        color: rgb(42, 42, 42);
    }

    a:hover {
        text-decoration: underline;
    }
}

.headphones-carousel__slide-img {
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

@media (min-width: 768px) {
    .headphones-carousel__slide-img {
        width: 80%;
    }
}

.headphones-carousel__slide-title {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    margin-top: 24px;
    color: var(--link-color);
}

.headphones-carousel__slide-price {
    font-size: 19px;
    font-weight: 700;
    color: var(--icon-color);
    font-family: "PT Sans", sans-serif;
    padding-top: 5px;
}

.headphones-carousel__slide-button {
    margin-top: 20px;
}

.headphones-carousel__button-title {
    background-color: var(--accent-color);
    color: var(--color-jbl-section);
    padding: 18px 18px;
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .3s;
    white-space: nowrap;
}

.headphones-carousel__button-title:hover {
    background-color: var(--link-color);
}

.headphones-carousel__arrow-prev {
    transform: rotate(180deg);
}

.headphones-carousel__arrow-prev,
.headphones-carousel__arrow-next {
    fill: var(--link-color);
}

.headphones-carousel__btn-prev,
.headphones-carousel__btn-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
