* {
    overflow-x: hidden;
}



:root {
    --background-color: #2a2a2a;
    --text-color: #ffffff;
    --icon-color:#2877b6;
}

li {
    list-style: none;
    margin-bottom: 5px;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
}

address{
    font-style: normal;
}

.footer-container {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    color: white;
    padding: 0 25px;
    padding-bottom: 50px;
    a {
        text-decoration: none;
        color: white;
    }
}

.footer-container__title h3{
    font-size: 26px;
    font-family: "Heebo", sans-serif;
    font-weight: 900;
}

.footer-container__title {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: "Heebo", sans-serif;
    margin-top: 25px;
}

.footer-container__sub-title{
    margin-bottom: 30px;
    font-size: 19px;
    font-family: "PT Sans", sans-serif;
    line-height: 26.6px;
}

.footer-container__item{
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    text-wrap: wrap;
    font-weight: bold;
    letter-spacing: 1.3px;
    margin-bottom: 25px;
}

.footer-container__visit-title{
    margin-top: 40px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-top: 30px;
  }


.facebook-link{
    background-image: url("../img/index.footer.partial/white-facebook.png");
    height: 15px;
    width: 15px;
    background-size: contain;
    margin: 15px;
    transition: 0.8s ease;
}

.facebook-link:hover{
    background-image: url("../img/index.footer.partial/blue-facebook.png");
}

.instagram-link{
    background-image: url("../img/index.footer.partial/white-instagram.png");
    height: 15px;
    width: 15px;
    background-size: contain;
    margin: 0 3px;
    margin: 15px;
    transition: 0.8s ease;
}

.instagram-link:hover{
    background-image: url("../img/index.footer.partial/blue-instagram.png");

}

.youtube-link{
    background-image: url("../img/index.footer.partial/white-youtube.png");
    height: 15px;
    width: 15px;
    background-size: contain;
    margin: 0 3px;
    margin: 15px;
    transition: 0.8s ease;
}

.youtube-link:hover{
    background-image: url("../img/index.footer.partial/blue-youtube.png");
    
}


.created-by{
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-top: 25px;
    line-height: 19.5px;
    letter-spacing: 1.3px;
}

.copyright{
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 25px;
    letter-spacing: 1.3px;
}