.header__nav {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.header__nav-logo img {
  width: 114px;
  height: 64px;
  padding-top: 30px;
}
