:root {
  --offer-color: rgb(73, 73, 73);
  --old-price-color: rgb(108, 108, 108);
  --text-title-color: #2f2f2f;
  --text-dark-color: #2a2a2a;
}

.product-card {
  display: flex;
  flex-direction: column;
}


.product-card__item {
  display: flex;
  flex-direction: column;
  margin: 75px 0px 0px 45px;
  white-space: nowrap;
}


.product-card__background {
  margin: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-width: 352px;
  min-height: 269.84px;
}

.product-card__background-item-1 {
  background-image: url(../img/index.special-offers/maze-headphones.jpg);
}

.product-card__background-item-2 {
  background-image: url(../img/index.special-offers/sony-headphones.png);

}

.product-card__background-item-3 {
  background-image: url(../img/index.special-offers/sony-speaker.png);

}

.product-card__item h4 {
  color: var(--offer-color);
  font-size: 12px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}

.product-card__old-new-price {
  font-weight: bold;
  margin-bottom: 25px;
  font-family: "Heebo", sans-serif;
}

.product-card__new-price {
  font-size: 22px;
  color: var(--text-dark-color);
}

.product-card__old-price {
  color: var(--old-price-color);
  text-decoration: line-through;
  font-size: 15px;
  margin-right: 10px;
  
}

.product-card__item h3 {
  font-size: 30px;
  color: var(--text-title-color);
  margin-bottom: 20px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}

.product-card__shop-now-button img {
  display: inline;
}

.product-card__shop-now-button {
  font-size: 13px;
  font-family: "PT Sans", sans-serif;
  line-height: 15.6px;
  letter-spacing: 0.91px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--offer-color);
  text-decoration: none;
}

.product-card__shop-now-button a{
  text-decoration: none;
  color: var(--text-dark-color);
}

.line {
  width: 24px;
  height: 2px;
  margin-bottom: 3px;
  margin-left: 3px;
}

@media (max-width: 400px) {
  .product-card {
    overflow-y: hidden;
  }
}

@media (min-width: 808px) {
  .product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-card__background-item-3 {
    flex-grow: 1;
  }

  .product-card__background-item-2 {
    flex-grow: 1;
  }

  .product-card__background-item-1 {
    flex-grow: 1;
  }

  .product-card__background {
    margin: 35px 15px 15px 15px;
  }

  .product-card__background-item-1 {
    margin-left: 30px;
  }

  .product-card__background-item-2 {
    margin-right: 30px;
  }

  .product-card__background-item-3{
    margin: 15px 30px 0px;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 990px) {
  .product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .product-card__background-item-1{
    margin: 25px;
  }

  .product-card__background-item-2{
    margin: 25px 0 25px 0;
  }

  .product-card__background-item-3{
    margin: 25px;
  }

  .product-card__background{
    min-height: 344px;
  }

  .product-card__item h3{
    font-size: 38px;
    font-weight: 800;
  }
}