.low-price {
    position: relative;
    display: inline-block;
}

.low-price img {
    display: block;
    width: 100%; 
  }

  .overlay__low-price {
    position: absolute;
    top: 35%;
    left: 5%;
    word-wrap: break-word;
    font-family: "PT Sans", sans-serif;
    font-size: 56px;
    font-weight: 800;
    background-color:var(--castomer-care-background-color);
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    width: 40%;
    color:rgb(42, 42, 42);

    h3 {
      font-size: 18px;
      font-weight: 150;
      padding-top: 30px;
    }  
  }
  