.headphones {
    margin-top: 70px;
    margin-bottom: 50px;
}

.headphones__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    h2 {
        font-size: 40px;
        font-weight: 900;
        font-family: 'Heebo', sans-serif;
        color: var(--main-text-color);

        @media (min-width: 768px) {
            font-size: 50px;
        }

        @media (min-width: 992px) {
            font-size: 60px;
        }
    }

    p {
        font-size: 19px;
        text-align: center;
        padding-top: 5px;
        font-family: 'PT Sans', sans-serif;
        color: var(--color-columns-paragraph);
    }
}

.headphones-carousel {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.headphones-carousel__slides {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.headphones-carousel__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var( --back-mindblowing-icon);
    padding: 45px 15px;
    width: 250px;
    height: auto;

    &:last-child {
        display: none;
    }

    a {
        text-decoration: none;
        font-family: "PT Sans", sans-serif;
        color: rgb(42, 42, 42);
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (min-width: 320px) {
    .headphones-carousel__slide {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .headphones-carousel__slide {
       grid-template-columns: 1fr 1fr;
    }
}

.headphones-carousel__slide-img {
    width: 80%;
    display: block;
    margin: auto;
}

.headphones-carousel__slide-title {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    margin-top: 24px;
    color: var(--link-color);
}

.headphones-carousel__slide-price {
    font-size: 19px;
    font-weight: 700;
    color: var(--icon-color);
    font-family: "PT Sans", sans-serif;
    padding-top: 5px;
}

.headphones-carousel__slide-button {
    margin-top: 20px;
}

.headphones-carousel__button-title {
    background-color: var( --accent-color);
    color: var(--color-jbl-section);
    padding: 18px 18px;
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .3s;
    white-space: nowrap;
}

.headphones-carousel__button-title:hover{
    background-color: var(--link-color);
}

.headphones-carousel__arrow-prev {
    rotate: 180deg;
}

.headphones-carousel__arrow-prev,
.headphones-carousel__arrow-next {
    fill: var(--link-color);
    cursor: pointer;
}
