.header__background {
    width: 100%;
    background-color: var(--header-background-color);
    height: 60px;
    display: flex;
}


.column__castomer-care {
    color: var(--castomer-care-color);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Heebo", sans-serif;
    font-size: 13px;
    flex: 0 50%;
}


.tel-column__castomer-care{
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.email-column__castomer-care{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.email-column__castomer-care{
    white-space: nowrap;
}

.under-container {
    width: 100%;
    background-color: var(--castomer-care--background-color);
    justify-content: space-between;
    height: 135px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .logo-column__under-container {
        width: 25%;
    }

    .nav-column__under-container {
        width: 50%;
        font-family: "Heebo", sans-serif;
        font-weight: 500;
        font-size: 15px;

        .nav-title {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .nav-title li {
            margin-right: 10px; 
          }

    }

    .social-networks {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            flex: 1;
            display: flex;
            margin: 5px;
            padding: 5px;
        }

        .networks-logo a,
        .networks-logo img {
            margin: 0;
            padding: 0;
            background-color: var(--header-networks-background-color);
        }
    }

    .nav-title {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        .nav-title ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }

}

.column__under-container:first-child {
    margin-left: 0;
    justify-content: flex-start;
}

.column__under-container:last-child {
    justify-content: space-between;
}