.background {
    width: 100%;
    background-color: rgb(242, 242, 242);
    height: 60px;
    display: flex;
}

.column__castomer-care {
    flex: 0 0 33.33%;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: rgb(42, 42, 42);
    align-items: center;
    font-weight:bold;
    letter-spacing: 2px;
}

.column__castomer-care span {
    display: block; 
    margin: 0 auto; 
  }


