.header__background {
    width: 100%;
    background-color: var(--header-background-color);
    height: 60px;
    display: flex;
}

.column__castomer-care {
    flex: 0 0 33.33%;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: var(--castomer-care-color);
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.column__castomer-care span {
    display: block;
    margin: 0 auto;
}



.under-container {
    width: 100%;
    background-color: var(--castomer-care--background-color);
    justify-content: space-between;
    height: 135px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .logo-column__under-container {
        width: 25%;
    }

    .nav-column__under-container {
        width: 50%;

        .nav-title {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .nav-title li {
            margin-right: 10px; 
          }

    }




    .social-networks {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            flex: 1;
            display: flex;
            margin: 5px;
            padding: 5px;
        }

        .networks-logo a,
        .networks-logo img {
            margin: 0;
            padding: 0;
            background-color: var(--header-networks-background-color);
        }
    }

    .nav-title {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        .nav-title ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }

}

.column__under-container:first-child {
    margin-left: 0;
    justify-content: flex-start;
}

.column__under-container:last-child {
    justify-content: space-between;
}