.low-price {
  background-image: url("../img/index.low-price/men-headphone.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1900px;
}

.overlay__low-price {
  word-wrap: break-word;
  font-family: "PT Sans", sans-serif;
  background-color: var(--castomer-care-background-color);
  text-align: left;
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  width: 40%;
  color: var(--header-background-color);
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
  }

  .button__low-price {
    display: flex;
    color: var(--low-price-button-color);
    background-color: var(--low-price-button-background-color);
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease;
  }

  .button__low-price:hover {
    background-color: var(--castomer-care-font-hover-color);
  }

  .button__shop__container {
    display: flex;
    color: var(--header-background-color);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 10vw;
    max-width: 8vh;
    max-height: 10vw;
  }

  .button__shop {
    white-space: nowrap;
    position: relative;
    font-weight: 700;
    align-items: center;
  }

  .button__shop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--castomer-care-font-hover-color);
    transition: width 1s ease;
  }

  .button__shop:hover::after {
    width: 100%;
  }

  .buttons__low-price {
    display: flex;
  }
  .button__shop__container img {
    width: 15px;
    height: 4px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .low-price {
    height: 300px;
  }
  .buttons__low-price {
    display: none;
    span {
      display: none;
    }
    .button__shop__container {
      display: none;
    }
  }
  .overlay__low-price h3 {
    display: none;
  }
  .overlay__low-price h2 {
    font-size: 15px;
    padding-top: 40px;
  }
  .button__low-price {
    font-weight: 400;
    font-size: 8px;
    margin-top: 27px;
    height: 30px;
    width: 50px;
  }
  .button__shop {
    font-weight: 400;
    font-size: 8px;
  }
  .button__shop__container img {
    width: 10px;
  }
  .button__shop__container {
    margin-left: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .low-price {
    height: 400px;
  }
  .overlay__low-price h2 {
    font-size: 25px;
    padding-top: 45px;
  }
  .button__low-price {
    font-weight: 400;
    font-size: 10px;
    margin-top: 27px;
    height: 40px;
    width: 60px;
  }
  .button__shop {
    font-weight: 400;
    font-size: 10px;
  }
  .button__shop__container img {
    width: 12px;
  }
  .button__shop__container {
    margin-left: 25px;
  }
}

@media (min-width: 769px) and (max-width: 1022px) {
  .low-price {
    height: 400px;
  }
  .overlay__low-price h2 {
    font-size: 40px;
    padding-top: 45px;
  }
  .button__low-price {
    font-weight: 400;
    font-size: 15px;
    margin-top: 27px;
    height: 40px;
    width: 80px;
  }
  .button__shop {
    font-weight: 400;
    font-size: 15px;
  }
  .button__shop__container img {
    width: 15px;
  }
  .button__shop__container {
    margin-left: 65px;
  }
}

@media (min-width: 1023px) and (max-width: 1898px) {
  .low-price {
    height: 500px;
  }
  .overlay__low-price h2 {
    font-size: 45px;
    padding-top: 55px;
  }
  .button__low-price {
    font-weight: 400;
    font-size: 15px;
    margin-top: 27px;
    height: 40px;
    width: 80px;
  }
  .button__shop {
    font-weight: 400;
    font-size: 15px;
  }
  .button__shop__container img {
    width: 15px;
  }
  .button__shop__container {
    margin-left: 65px;
  }
}

@media (min-width: 1899px) {
  .low-price {
    height: 750px;
  }
  .overlay__low-price h2 {
    font-size: 45px;
    padding-top: 55px;
  }
  .button__low-price {
    font-weight: 400;
    font-size: 15px;
    margin-top: 27px;
    height: 40px;
    width: 80px;
  }
  .button__shop {
    font-weight: 400;
    font-size: 15px;
  }
  .button__shop__container img {
    width: 15px;
  }
  .button__shop__container {
    margin-left: 65px;
  }
}
