.low-price {
  background-image: url("../img/index.low-price/men-headphone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.overlay__low-price {
  top: 35%;
  left: 5%;
  word-wrap: break-word;
  font-family: "PT Sans", sans-serif;
  font-size: 56px;
  font-weight: 400;
  background-color: var(--castomer-care-background-color);
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 30px;
  width: 40%;
  color: var(--header-background-color);
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
  }

  .button__low-price {
    display: flex;
    color: var(--low-price-button-color);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    background-color: var(--low-price-button-background-color);
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 8vh;
    transition: background-color 1s ease;
  }

  .button__low-price:hover {
    background-color: var(--castomer-care-font-hover-color);
  }

  .button__shop__container {
    display: flex;
    color: var(--header-background-color);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 8vh;
    max-width: 8vh;
    max-height: 10vw;
  }

  .button__shop {
    white-space: nowrap;
    position: relative;
  }

  .button__shop::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--castomer-care-font-hover-color);
    transition: width 1s ease;
  }

  .button__shop:hover::after {
    width: 100%;
  }

  .buttons__low-price {
    display: flex;
  }
  .button__shop__container img {
    width: 15px;
    height: 4px;
    margin-left: 10px;
  }
}
