.header__background {
    width: 100%;
    background-color: var(--header-background-color);
    height: 60px;
    display: flex;
}

.column__castomer-care {
    flex: 0 0 33.33%;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: var(--castomer-care-color);
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.column__castomer-care span {
    display: block;
    margin: 0 auto;
}

.under-container {
    width: 100%;
    background-color: var(--castomer-care--background-color);
    height: 135px;
    display: flex;
    align-items: center;
    padding: 0 50px;

    .column__under-container {
        flex: 1;
        margin: 0 0px;
        text-align: center;
    }

    .column__under-container img {
        display: block;
        margin: 0 auto;
    }

    .social-networks {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 10px;
        }

        li:last-child {
            margin-right: 0;
        }
    }


    .nav-title {
        flex-grow: 1;
        display: flex;
        li {
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }

}

.column__under-container:first-child {
    margin-left: 0;
    justify-content: flex-start;
}

.column__under-container:last-child {
    width: 50px;
    justify-content: space-between;
}

.social-networks {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-networks li {
    flex: 1;
    display: flex;
    justify-content: center;
}

