.customer-review__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Heebo', sans-serif;
        font-size: 40px;
        text-align: center;
        color: var(--main-text-color);
    }

    p {
        font-family: 'PT Sans', sans-serif;
        font-size: 19px;
        text-align: center;
        color: var(--main-text-color);
    }
}
@media (min-width: 768px) {
    .customer-review__title h2 {
        font-size: 60px;
    }
}

.customer-review__slide-img {
    width: 8%;
    border-radius: 50%;
}

.customer-review__slides {
    padding: 3rem;
    display: flex;
}