.main__product {
  display: flex;
  padding: 100px 20px 50px;
}

@media (min-width: 770px) {
  .main__product {
    justify-content: center;
    align-items: center;
  }
}

.main__container {
  min-width: 260px;
  max-width: 1200px;
}

.main__product-section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 770px) {
  .main__product-section {
    flex-direction: row;
  }
}

.main__product-link {
  color: var(--link-color);
  text-decoration: none;
  font-size: 20px;
}
.main__product-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}

.arrow-svg_left {
  rotate: 180deg;
}

.arrow-svg_left,
.arrow-svg_right {
  align-items: center;
}

.main__product-container {
  max-width: 540px;
  flex: 1;
}

.main__product-image,
.main__product-images {
  width: 100%;
}

.main__product-img {
  width: 18%;
  max-width: 108px;
  border: var(--product-border-img) solid 1px;
}

@media (min-width: 770px) {
  .main__product-section__left {
    max-width: 570px;
    margin-right: 30px;
  }

  .main__product-img { 
    min-height: 39px;
    max-height: 79px;
  }
}

.main__product-section__right {
  margin-top: 40px;
}

.main__product-check {
  color: var(--stock-color);
}

.main__product-title {
  margin: 10px 0;
}

.main__product-price {
  margin: 30px 0;
  font-size: 20px;
}

.main__product-form {
  padding: 40px 0;
  border-top: 1px solid var(--underline-product);
}

.main__product-number {
  max-width: 60px;
  min-height: 54px;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

.main__product-button {
  min-width: 196px;
  width: 70%;
  display: inline-block;
  min-height: 54px;
  border: none;
  background-color: var(--bottom-color);
  color: #fff;
}

.main__product-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--underline-product);
}

.main__product-subtitle__underline-text {
  padding-bottom: 3px;
  border-bottom: 1px solid var(--description-line);
}
