.low-price {
  position: relative;
  display: inline-block;
}

.low-price img {
  display: block;
  width: 100%;
}

.overlay__low-price {
  position: absolute;
  top: 35%;
  left: 5%;
  word-wrap: break-word;
  font-family: "PT Sans", sans-serif;
  font-size: 56px;
  font-weight: 800;
  background-color: var(--castomer-care-background-color);
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  width: 40%;
  color: var(--header-background-color);
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 18px;
    font-weight: 150;
    padding-top: 30px;
  }

  .button__low-price {
    display: flex;
    color: var(--low-price-button-color);
    font-size: 15px;
    font-weight: 150;
    padding-top: 30px;
    background-color: var(--low-price-button-background-color);
    justify-content: center;
    align-items: center;
    width: 20%; 
    height: 20%; 
    font-weight: 200
  }
}