.header {
  position: relative;
  z-index: 1;
}

.header__navicon::before,
.header__navicon::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: var(--castomer-care-font-background-color);
  transition: all 0.2s ease-out;
}

.header__navicon::before {
  top: 7px;
}

.header__navicon::after {
  top: -7px;
}

.header__navicon {
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background: var(--castomer-care-font-background-color);
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.header.nav-visible .header__navicon {
  background: transparent;
}

.header.nav-visible .header__navicon::before {
  transform: rotate(-45deg);
}

.header.nav-visible .header__navicon::after {
  transform: rotate(45deg);
}

.header.nav-visible .header__navicon::before,
.header.nav-visible .header__navicon::after {
    top: 0;
}


/* .header.nav-visible .header__nav-menu {
  margin-top: -100vh;
} */

.navigation-menu-block {
  background-color: var(--header-networks-background-color);
  height: 100vh;
  margin-top: 0vh;
}
.navigation-logo {
  display: flex;
  align-items: center;
  padding: 30px 0px 0px 20px;
}
.menu-btn {
  margin-left: 80%;
}
.navigation-logo img {
  width: 125px;
  height: 70px;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.navigation-list li {
  margin: 5px;
}

.navigation-list li a {
  color: var(--castomer-care-font-background-color);
  text-decoration: none;
}

.navigation-social-networks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.navigation-social-networks li {
  margin: 0 10px;
}

.navigation-social-networks li a img {
  width: 30px;
  height: 30px;
}

.navigation-customer-care {
  margin: 5px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: var(--castomer-care-font-background-color);
  * {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: var(--castomer-care-font-background-color);
    text-decoration: none;
  }
}

@media (min-width: 990px) and (max-width: 1022px) {
  .navigation-customer-care {
    font-size: 15px;
    * {
      font-size: 15px;
    }
  }
  .navigation-list {
    font-size: 20px;
  }
}

@media (min-width: 1023px) and (max-width: 1898px) {
  .navigation-customer-care {
    font-size: 20px;
    * {
      font-size: 20px;
    }
  }
  .navigation-list {
    font-size: 25px;
  }
  .navigation-social-networks li a img {
    width: 40px;
    height: 40px;
  }

  .header__navicon::before {
    top: 10px;
  }

  .header__navicon::after {
    top: -10px;
  }

  .header__navicon {
    display: block;
    width: 35px;
    height: 3px;
  }
}

@media (min-width: 1899px) {
  .navigation-customer-care {
    font-size: 25px;
    * {
      font-size: 25px;
    }
  }
  .navigation-list {
    font-size: 30px;
  }
  .navigation-social-networks li a img {
    width: 45px;
    height: 45px;
  }

  .header__navicon::before {
    top: 13px;
  }

  .header__navicon::after {
    top: -13px;
  }

  .header__navicon {
    display: block;
    width: 45px;
    height: 4px;
  }
}
